.form__input {
    margin: 20px auto 0px auto;
    width: 490px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #24b06a;
    background-color: #f0fff3;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form__input::placeholder {
    color: gray;
}

.form__input:hover {
    outline: none;
    background-color: #eef1f4;
    border-color: #065609;
}

@media screen and (max-width: 550px) {
    .form__input {
        width: 292px;
        height: 24px;
        font-size: 12px;
    }
}